[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pafy = "*"
python-vlc = "*"
youtube-dl = "*"
spotipy = "*"
google-api-python-client = "*"
textdistance = "*"
"rpi.gpio" = "*"
pygame = "~=1.9.4"

[dev-packages]

[requires]
python_version = "3"
