[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pafy = "0.5.5"
python-vlc = "*"
redis = "*"
youtube-dl = "2021.05.16"
spotipy = "*"
google-api-python-client = "*"
textdistance = "*"
pygame = "~=1.9.4"
python-redis-cache = "*"

[dev-packages]

[requires]
python_version = "3"
